.card {
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);  
  position: relative;
}


.card__link {
  text-decoration: none;
  margin-bottom: 16px;
  display: block;
}

.card__img {
  width: 450px;
  height: 270px;
  border-radius: 20px;
  object-fit: cover;
}

.card__img_content :hover {
  opacity: 0.7;
  color: white;
}

.card__content {
  /* height: 180px; */
  color: #c7c7c7;
  position: absolute;
  top: 80px;
  width: 450px;
}

.card__content :hover {
  color: #f3f3f3;
}

.card__title {
  text-align: center;
  font-size: 24px;
  margin: 18px 0;

}

.card__lead {
  text-align: center;
  padding: 0 40px;
  font-size: 12px;
}










@media screen and (max-width: 1024px) {
  /* card */
  .card {
    width: 350px;
  }
  .card__img {
    width: 350px;
    height: 220px;
  }
  .card__content {
    top: 65px;
    width: 350px;
  }
  .card__title {
    font-size: 22px;
  }
}


@media screen and (max-width: 896px) {
  /* card */
  .card {
    width: 300px;
  }
  .card__img {
    width: 300px;
    height: 200px;
  }
  .card__content {
    top: 55px;
    width: 300px;
  }
  .card__title {
    font-size: 21px;
  }

}

@media screen and (max-width: 480px) {
  /* card */
  .card {
    width: 300px;
  }
  .card__img {
    width: 300px;
    height: 200px;
  }
  .card__content {
    top: 40px;
    width: 300px;
  }
  .card__title {
    font-size: 20px;
  }

}

@media screen and (max-width: 376px) {
  /* card */
  .card {
    width: 250px;
  }
  .card__img {
    width: 250px;
    height: 160px;
  }
  .card__content {
    top: 40px;
    width: 250px;
  }
  .card__title {
    font-size: 18px;
  }

}